#unix
*.log
*~
.ssh/*

# puppet
.puppet/bootstrap.sh
.puppet/graphs
.puppet/modules

# phpstorm
.idea/*
workspace.xml

#win
thumbs.db

#macos
.DS_Store
._.DS.Store
.AppleDouble
.LSOverride
Icon
# ._*
.Spotlight-V100
.Trashes

# Devbase
.devbase

# eclipse
.project
.project/*
.buildpath
.buildpath/*
.settings
.settings/*
.externalToolBuilders
.externalToolBuilders/*
.idea*

# php storm
.idea
.idea/*

# CI / Jenkins / Vagrant
build/
.vagrant
.idea
.idea/
.devbase

#grunt
node_modules/
bower_components/
.sass-cache/

# IDE files
*.sublime-workspace
*.sublime-project
*.esproj
*.bak
_notes
dwsync.xml
.idea_modules/

# individual ignores

!.gitignore
!empty
