// Plugin doesn´t work in ie8

@media screen and (max-width: 600px) {

/* Force table to not be like tables anymore */
.responsive-data-table {
    & table,
    & thead,
    & tbody,
    & tr,
    & th,
    & td { display:block; }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    & thead tr { 
        display:none;
    }
    
    /* Behave  like a "row" */
    & td { position:relative; 
        &:before { content: attr(data-title); }
    }
    
}

/* Styling Table */
.responsive-data-table {
    & tr { border: 1px solid #ccc; }
    & td { border: none; border-bottom: 1px solid #eee; padding-left: 50%; white-space: normal; text-align:left; 
        &:before { position: absolute; top: 3px; left: 3px; width: 45%; padding-right: 10px; white-space: nowrap; text-align:left; font-weight:700; }
    }
}

}