$display-font-stack: 'Ubuntu', 'Helvetica', Arial, sans-serif;
$body-font-stack: Georgia, Times, "Times New Roman", serif;

$body-font-size: 125%;
$body-line-height: 1.4;

@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}

@function check-even($number) {
	@if ($number % 2 == 0) {
		@return true;
	} @else {
		@return false;
	}
}

$body-valueless: strip-units($body-font-size);
$lambda: (16px / $body-valueless) * 100;


/****** Scale *******/

$scale-top-fraction: 3;
$scale-bottom-fraction: 5;

$scale: $scale-top-fraction / $scale-bottom-fraction;

/********************/

@function fibonacci($count) {
	$i: 2;
	$fibonacci: 0;
	$fib-scale-small: 1;
	$fib-scale-big: 1;
	@if $count < 3 {
		$fibonacci: 1;
		$i: $i + 1;
	} @else {
		@while $i < $count {
			$fibonacci: $fib-scale-small + $fib-scale-big;
			$fib-scale-small: $fib-scale-big;
			$fib-scale-big: $fibonacci;
			$i: $i + 1;
		}
	}
	@return $fibonacci;
}

@function stranded($count) {
	$i: 0;
	$base: 4;
	@while $i < $count {
		@if (check-even($i)) {

		} @else {

		}
		$i: $i + 1;
	}
}

body {
	font-size: $body-font-size;
}

h1 {
	font-family: $display-font-stack;
	margin: 0;
	padding: $lambda * 3 0;
	font-size: fibonacci(20) + px;
	// line-height: $body-line-height;
	line-height: 1;
	// + p {
	// 	padding-top: 0;
	// }
}
h2 {
	font-family: $display-font-stack;
	margin: 0;
	padding: $lambda * 2 0;
	font-size: fibonacci(2);
	line-height: $body-line-height;
	line-height: 1;
	font-weight: 400;
	// + p {
	// 	padding-top: 0;
	// }
}
h3 {
	font-family: $display-font-stack;
	margin: 0;
	padding: $lambda * 2 0;
	font-size: fibonacci(3);
	line-height: $body-line-height;
	line-height: 1;
	font-weight: 400;
	// + p {
	// 	padding-top: 0;
	// }
}
h4 {
	font-family: $body-font-stack;
	text-transform: uppercase;
	margin: 0;
	padding: $lambda * 2 0;
	font-size: fibonacci(4);
	line-height: $body-line-height;
	// + p {
	// 	padding-top: 0;
	// }
}
h5 {
	font-family: $body-font-stack;
	text-transform: uppercase;
	margin: 0;
	padding: $lambda * 2 0;
	font-size: fibonacci(5);
	font-weight: 300;
	line-height: $body-line-height;
	// + p {
	// 	padding-top: 0;
	// }
}
h6 {
	font-family: $body-font-stack;
	text-transform: uppercase;
	margin: 0;
	padding: $lambda * 2 0;
	font-size: fibonacci(4);
	line-height: $body-line-height;
	// + p {
	// 	padding-top: 0;
	// }
}

p {
	font-size: $body-font-size;
	line-height: $body-line-height;
	// text-align: justify;
	padding: $lambda 0;
	// + h1,
	// + h2,
	// + h3,
	// + h4,
	// + h5,
	// + h6 {
	// 	padding-top: 0;
	// }
}