/* + Mixin imports */
/* = Mixin imports */
/* + Function imports */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
  .fade.in {
    opacity: 1; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease; }

/* = Function imports */
/* + Variablen (Farben, Fonts, etc) */
.highlight-font, h1,
.h1, h2,
.h2, h3,
.h3,
#header,
nav li, h4,
.h4, h5,
.h5, h6,
.h6 {
  /*font-family: $highlight-font; */
  font-weight: 400;
  text-transform: uppercase; }

/* = Variablen (Farben, Fonts, etc) */
/* + Reset */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.print-only {
  visibility: hidden;
  height: 0; }

html,
body,
figure {
  padding: 0;
  margin: 0; }

/*! normalize-opentype v0.1.2 | MIT License | kennethormandy.com/journal/normalize-opentype-css */
/**
 * 1. Turn on kerning, standard ligatures, and proportional, oldstyle numerals
 *    Turn off all other ligatures, tabular, lining numerals, and alternates
 */
html,
body {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 1. */ }

/* Headings
========================================================================== */
/**
 * 1. Turn on discretionary ligatures for larger headings
 */
h1,
h2,
h3 {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  /* 1. */ }

/* Text-level semantics
========================================================================== */
/**
 * 1. Change all letters to uppercase
 * 2. Turn on small caps for upper and lowercase letters
 */
abbr {
  text-transform: uppercase;
  /* 1 */
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  /* 2 */ }

/*
 * TODO: Turn on diagonal fractions where appropriate
 */
time {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0; }

/*
 * 1. Turn off kerning and ligatures,
 *    Turn on lining, tabular numerals, slashed zero
 */
pre,
kbd,
samp,
code {
  font-feature-settings: "kern" 0, "liga" 0, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */ }

/**
 * 1. Turn on proper supercript numerals
 */
sup {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  /* 1. */ }

/**
 * 1. Turn on proper subscript numerals
 */
sub {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  /* 1. */ }

/* Grouping content
========================================================================== */
/**
 * TODO: Adds proper bullets
 */
/*
 * TODO:
 * 1. Adds counters for lists
 * 2. Use proper numerals for lists
 */
/**
 * Adds proper small caps
 */
/**
 * TODO: scmp, sc2c, pnum, case sensitive forms for postal codes
 */
/* Forms
========================================================================== */
/**
 * 1. Turns on lining, proportional numerals without clarified zeroes
 * TODO: Additional input modes https://developer.mozilla.org/en/docs/Web/HTML/Element/Input#attr-inputmode
 */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
  /* 1. */ }

/* Localisation
========================================================================== */
/* Tables
========================================================================== */
/**
 * 1. Turns on tabular, lining numerals and slashed zero
 *    Turns off kerning, as it could impact tabular numerals
 */
table {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */ }

/**
 * 1. Revert to defaults for table headings
 */
table thead,
table tfoot {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 2. */ }

/* = Reset */
/* + General styles (Typo, Formulare, Tabellen, etc) */
html {
  font-size: 62.5%; }

body {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  background-color: #f8f8f8;
  color: #121212; }

h1,
h1,
h2,
h2,
h3,
h3,
h4,
h4,
h5,
h5,
h6,
h6 {
  position: relative; }

h1,
.h1 {
  margin: .6em 0 .6em 0;
  font-size: 26px;
  line-height: 39px;
  font-size: 2.6rem;
  line-height: 3.9rem; }

h2,
.h2 {
  margin: .5em 0 .5em 0;
  font-size: 22px;
  line-height: 33px;
  font-size: 2.2rem;
  line-height: 3.3rem; }

h3,
.h3,
#header,
nav li {
  margin: .4em 0 .4em 0;
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem; }

h4,
.h4 {
  margin: .3em 0 .3em 0;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem; }

h5,
.h5 {
  margin: .2em 0 .2em 0;
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.1rem; }

h6,
.h6 {
  margin: .1em 0 .1em 0;
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem; }

p,
.table-container,
.content-main figure {
  margin: 0 0 1.4em 0; }

figure img {
  max-width: 100%;
  height: auto; }

pre + p {
  margin-top: 1.4em; }

a {
  color: #00aff0;
  font-weight: 500;
  text-decoration: underline; }
  a:hover {
    color: #008abd; }

strong,
b {
  font-weight: 500; }

address,
cite,
em,
i,
q {
  font-style: italic; }

sup {
  vertical-align: top;
  top: -0.5em;
  position: relative; }

dt {
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
  font-size: 1.5rem;
  line-height: 2.25rem; }

ul,
ol,
dl,
dd {
  padding: 0;
  margin: 0 0 .7em 0;
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem; }

ol {
  margin: 0 0 0 1em;
  list-style-type: decimal; }
  ol li {
    margin-bottom: .6em; }

label,
legend {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem; }

input,
button,
select,
textarea,
li,
dd,
blockquote,
q,
table {
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.1rem; }

nav {
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem; }

hr {
  border: none;
  color: gray;
  height: 0.1em;
  margin: 0.5em 0 1.5em 0; }

blockquote {
  border-left: 8px solid gray;
  padding: 0 2.5em 0 2.5em;
  margin: 1.5em 1.5em 2.5em 1.5em;
  font-size: 15px;
  line-height: 22.5px;
  font-size: 1.5rem;
  line-height: 2.25rem; }
  blockquote p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 19.5px;
    font-size: 1.3rem;
    line-height: 1.95rem; }

q:before {
  content: "“ "; }

q:after {
  content: " ”"; }

abbr, acronym {
  border-color: inherit;
  cursor: help;
  border-bottom-style: dotted;
  border-bottom-width: thin; }

del {
  text-decoration: line-through; }

kbd,
code {
  font-family: "Courier New", Courier, mono; }

footer {
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem; }

::selection {
  color: white;
  background: #00a8cb; }

::-moz-selection {
  color: white;
  background: #00a8cb; }

#header {
  background-color: #fff;
  margin: 0; }
  #header .headline, #header .headline a {
    display: inline-block;
    color: #121212;
    text-decoration: none; }
  #header:after {
    display: block;
    content: '';
    height: 0.3em;
    background: linear-gradient(40deg, #7fba00, #00aff0); }

nav {
  float: right; }
  nav ul {
    margin-bottom: 0; }
  nav li {
    list-style: none;
    display: inline-block; }
  nav a {
    padding: 0.3em 0.6em;
    display: inline-block; }

table {
  table-layout: fixed;
  border-collapse: collapse; }
  table tr {
    border-bottom: 1px solid #848484; }
    table tr td, table tr th {
      padding: 0.5em 1em;
      text-align: left; }
  table thead tr {
    border-color: #515151; }

.container {
  padding-left: 6%;
  padding-right: 6%;
  /*@media screen and (min-width: 42em) {
      max-width: 61.803398874989476%;
      
  }*/ }
  @media screen and (min-width: 42em) {
    .container .col-sm {
      width: 38.196601125010524%;
      float: left;
      padding-right: 6%; }
    .container .col-lg {
      width: 61.803398874989476%;
      float: right; } }

/* = General styles (Typo, Formulare, Tabellen, etc) */
/* + Styles höherer Ordnung (OOCSS – Nicht-modulspezifische oder modulübergreifende Styles) */
/* + Article Links */
.content {
  position: relative;
  z-index: 1;
  /* needed for setting pseudo-element z-index */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .content a {
    position: relative;
    display: inline-block;
    padding: 0 0.1em;
    outline: none;
    vertical-align: bottom;
    text-decoration: none;
    /*white-space: nowrap; */
    overflow: hidden; }
    .content a:hover {
      color: #fff; }

.content a:before,
.content a:after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.content a:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #00aff0;
  content: '';
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: translateY(95%);
  transform: translateY(95%); }

.content a:hover:before,
.content a:focus:before {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

/* = Article Links */
/* + Article Links Reset */
.content .link-reset {
  overflow: visible;
  padding: 0; }
  .content .link-reset:hover {
    color: inherit; }
  .content .link-reset:before, .content .link-reset:after {
    background: none;
    position: relative;
    width: auto;
    height: auto;
    z-index: auto;
    transform: none;
    -webkit-transform: none; }

/* = Article Links Reset */
/* + Anchor Links */
.content .anchor:before {
  content: '@';
  display: inline-block;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  padding-right: .5em; }
.content .anchor:hover:before, .content .anchor:focus:before {
  display: inline-block;
  visibility: visible;
  opacity: 1; }
@media screen and (min-width: 42em) {
  .content .anchor:before {
    position: absolute;
    top: 0;
    left: auto;
    right: 100%;
    display: inline-block;
    padding-bottom: 1em; } }

.content :hover .anchor,
.content :focus .anchor {
  visibility: visible;
  opacity: 1; }

/* = Anchor Links */
article {
  padding-top: 0.5em; }
  article .headline {
    margin-top: 0;
    color: #7fba00;
    text-decoration: none;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }
    article .headline:hover {
      color: #f44f86; }

.content-main {
  padding-top: 1.2em; }

.copyright {
  color: #787878; }
  .copyright:before {
    content: "\00a0" attr(data-quote);
    padding-left: .25em;
    font-style: normal; }

.post-meta-description li {
  list-style: none;
  display: inline-block;
  color: #787878; }
.post-meta-description .tags {
  display: block; }

/* + Code Styles */
/*pre { background-color: #222; color: #fff; overflow: auto; padding: 2% 4%; }*/
pre {
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  white-space: pre-wrap; }

/* = Code Styles */
/* = Styles höherer Ordnung (OOCSS – Nicht-modulspezifische oder modulübergreifende Styles) */
/* + Modul Styles */
.panel {
  border: 1px solid #ccc; }

.panel-body {
  padding: 5px; }

.panel-heading {
  padding: 5px;
  border-bottom: 1px solid #ccc; }

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit; }
  .panel-title > a {
    color: inherit; }

.panel-footer {
  padding: 5px;
  border-top: 1px solid #ccc; }

.panel > .list-group {
  margin-bottom: 0; }
  .panel > .list-group .list-group-item {
    border-width: 1px 0; }
  .panel > .list-group:first-child .list-group-item:first-child {
    border-top: 0; }
  .panel > .list-group:last-child .list-group-item:last-child {
    border-bottom: 0; }

.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0; }

.panel-group .panel {
  margin-bottom: 0; }
  .panel-group .panel + .panel {
    margin-top: 5px; }
.panel-group .panel-heading {
  border-bottom: 0; }
  .panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 1px solid #ccc; }
.panel-group .panel-footer {
  border-top: 0; }
  .panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #ccc; }

@media screen and (max-width: 600px) {
  /* Force table to not be like tables anymore */
  .responsive-data-table {
    /* Hide table headers (but not display: none;, for accessibility) */
    /* Behave  like a "row" */ }
    .responsive-data-table table, .responsive-data-table thead, .responsive-data-table tbody, .responsive-data-table tr, .responsive-data-table th, .responsive-data-table td {
      display: block; }
    .responsive-data-table thead tr {
      display: none; }
    .responsive-data-table td {
      position: relative; }
      .responsive-data-table td:before {
        content: attr(data-title); }

  /* Styling Table */
  .responsive-data-table tr {
    border: 1px solid #ccc; }
  .responsive-data-table td {
    border: none;
    border-bottom: 1px solid #eee;
    padding-left: 50%;
    white-space: normal;
    text-align: left; }
    .responsive-data-table td:before {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: 700; } }
/* = Modul Styles */
